#body-color{background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;}

 #Sign-In
	{margin-top:50px;
	margin-bottom:50px;
	margin-right:50px;
	margin-left:50px; 
	border:3px solid #a1a1a1;
	padding:25px 35px;
	background-image: url(../images/nicolas-tye-architects-residential-bg.jpg); 
	width:1000px;
	height:500px;
	border-radius:50px; 
	box-shadow: 10px 10px 10px; } 
 
 
 #button
	{ border-radius:10px;
	width:100px; height:40px;
	
	font-weight:bold; 
	font-size:20px }
	

a.scroll-to-top:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}	
a.scroll-to-top {
    -moz-border-radius: 7px 7px 0 0;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-border-radius: 7px 7px 0 0;
    -webkit-transition: all .3s;
    background: #434343;
    border-radius: 7px 7px 0 0;
    bottom: 4px;
    color: #fff;
    display: block;
    height: 9px;
    opacity: 0;
    padding: 13px 0 35px;
    position: left-side;
    right: 10px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    width: 49px;
    z-index: 1040;
    right: 50px;
    border: 1px solid #434343;
}	


