/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 30, 2016, 10:42:52 PM
    Author     : me
*/

#award{
    width: 99%;
}
#box{
    padding-top:2%;
    padding-bottom: 2%;
    padding-left: 1%;
}

#title{
    color: white;
    font-size: 22px;
    background-color: red;
    width: 50%;
    height: 25px;
}

#img{
    width: 300px;
    height: 250px;
    float: left;
}
#dis{
    color: white;
    float: left;
    width:65%;
    height: 250px;
}
#acon{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#back{
    position: absolute;
    background-color: #999999;
    opacity: 0.5;
    height: 277px;
    width: 99%;
  z-index: -1;
}


#l_content_area
{
    height: 400px;
    width: 600px;
    background-color: none;
    padding: 10px;
    margin-top:-600px;
    background-image: url(../images/p5.jpg)
}

#r_content_area
{
    height:600px;
    width: 600px;
    margin-left: 700px;
    background-color: none;
    padding: 10px;
}
