.body{
    margin:0;
}

#container{
    background-image:url(../images/blur.jpg);
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}  

#containerHome
{
    background-image:url(../images/home.jpg);
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}

#mainMenue{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#mainMenueLi{
    float: right;
}



#mainMenueA {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana,sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
}

.letterFx{
    color: #4CAF50;
    font-family: Verdana,sans-serif;
    font-size: 17px;
    letter-spacing: 4px;
}


li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}



#content_area
{
    
    background-image: url(../images/lows.jpg);
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    
}
