.theme-l5 {color:#000 !important; background-color:#f5f7f8 !important}
.theme-l4 {color:#000 !important; background-color:#dfe5e8 !important}
.theme-l3 {color:#000 !important; background-color:#becbd2 !important}
.theme-l2 {color:#000 !important; background-color:#9eb1bb !important}
.theme-l1 {color:#fff !important; background-color:#0eb493 !important}
.theme-d1 {color:#fff !important; background-color:#57707d !important}
.theme-d2 {color:#fff !important; background-color:#0eb493 !important}
.theme-d3 {color:#fff !important; background-color:#435761 !important}
.theme-d4 {color:#fff !important; background-color:#3a4b53 !important}
.theme-d5 {color:#fff !important; background-color:#303e45 !important}

.theme-light {color:#000 !important; background-color:#f5f7f8 !important}
.theme-dark {color:#fff !important; background-color:#303e45 !important}
.theme-action {color:#fff !important; background-color:#303e45 !important}

.theme {color:#fff !important; background-color:#0eb493 !important}
.text-theme {color:#607d8b !important}
.border-theme {border-color:#607d8b !important}
.hover-theme:hover {color:#fff !important; background-color:#607d8b !important}
.hover-text-theme:hover {color:#607d8b !important}
.hover-border-theme:hover {border-color:#607d8b !important}